.quote {
    display: flex;
    max-width: 660px;
    margin: 30px auto;
    padding: 20px;
    border: 7px ridge #4830F0
}

.text {
    font-size: 20px;
    margin-top: 0;
}

.author {
    font-size: 16px;
    font-style: italic;
}

.textBlock {
    width: 80%;
}

.buttonsBlock {
    width: 20%;
}