.quotesBlock {
    display: flex;
    justify-content: space-between;
}

.category {
    width: 25%;
    min-height: 91vh;
    border-right: 5px ridge #4830F0;
}

.quotes {
    width: 70%;
}

.quotesTitle {
    text-align: center;
    text-transform: uppercase;
}